body {
    background-color: silver;
}

.dynamicContent-container {
    border-radius: 8px;
    box-shadow: inset 0px 0px 16px 2px silver;
    background-color: black;
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
    border: unset;
}
