body {
    background-color: silver;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.dynamicContent-container {
    border-radius: 8px;
    box-shadow: inset 0px 0px 16px 2px silver;
    background-color: black;
    display: inline-flex;
    margin-right: 2px;
    height: 100%;
    overflow: hidden;
    width: 50%;
}
iframe {
    height: 100%;
    width: 100%;
    border: unset;
}


.dynamicContent-container-jquery {
    border-radius: 8px;
    box-shadow: inset 0px 0px 16px 2px silver;
    background-color: black;
    display: inline-flex;
    margin-left: 2px;
    height: 100%;
    overflow: hidden;
    width: 50%;
}
